html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",sans-serif;
    font-size: 19px;
    line-height: 1.5;
}

body {
    max-width: 32rem;
    margin: 0 auto;
    padding: 2rem 1rem;
    background: #fafcfe;
    color: #333;
}

code {
    font-size: 80%;
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    color: #222;
}
